body {
    background-color: rgb(235, 103, 103);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: fit-content;
    padding: 20px;
    border: 5px solid black;
}

.dice-container {
    display: flex;
    justify-content: center;
}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;

    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));

}

.roll-btn {
    margin-top: 10px;
}